*, *:before, *:after {
    box-sizing: inherit;
}

.horizonal-align {
    display: flex;
    font-family: 'Quicksand', sans-serif;
    font-size: large;
}

body {
    background-color: rgb(243, 243, 243);
    width: calc(100vw - 350px);
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
}

.menu {
    background-color: #4F90CD;
    width: 350px;
    height: 100vh;
    align-self: flex-end;
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.element {
    min-height: 500px;
    height: fit-content;
    background-color: white;
    width: 100%;
    display: flex;
    margin: auto;
    margin-top: 5px;
}

.element-top {
    min-height: 500px;
    height: fit-content;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.banner img {
    height: 20vw;
    min-height: 300px;
    object-fit: cover;
    width: 100%;
}


.spacer {
    min-height: 30vh;
    height: fit-content;
    width: auto;
    background-color: rgb(243, 243, 243);
    padding: 20px;
}

.avatar {
    height: 11.25vw;
    width: 11.25vw;
    min-height: 175px;
    min-width: 175px;
}

.avatarContainer {
    height: 11.25vw;
    min-height: 175px;
    margin: auto;
    align-self: center;
}

.a {
    display: inline-block;
    height: 5vh;
    min-height: 45px;
    width: 100%;
    line-height: max(5vh, 45px);
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    border-width: 1px;
    border-bottom-style:solid;
    border-bottom-color: #81a3c4;
}

.a:hover {
    opacity: 0.8;
}

.active a {
    color: #4F90CD;
    background-color: white !important;
    border-bottom-color: #ffffff;
}

.header p {
    text-align:center;
    align-self: center;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.76);
    line-height: 2em;
    font-size: medium;
}

.container {
    width: 100%;
    max-width: 1000px;
    padding: 40px 70px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    line-height: 1.75em;
    color: #888;
    margin: auto;
}

.name {
    text-align:center;
    align-self: center;
    font-weight: lighter;
    font-size: xx-large;
    margin-top: 20px;
    color: white;
}

.extra {
    min-height: 7.5vh;
    align-self: center;
    align-content: center;
}

.header {
    height: 30vh;
    min-height: 350px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0px;
    margin-top: 20px;
}

.nav {
    margin-top: 30px;
}

.muiButton {
    color: white;
    background-color: #4F90CD;
}

.split {
    display: flex;
}

.split.underline {
    border-bottom-style: solid;
    border-color: rgb(243, 243, 243);
    margin-bottom: 25px;
}

/*Fonts*/

p a {
    color: #888;
    text-decoration: underline;
}

p a:hover {
    color:#4F90CD;
    text-decoration: none;
}

blockquote a {
    color: #888;
    text-decoration: underline;
}

blockquote a:hover {
    color:#4F90CD;
    text-decoration: none;
}

h5 a {
    color: #888;
    text-decoration: underline !important;
}

h5 a:hover {
    color:#4F90CD;
    text-decoration: none;
}

strong, b {
    color: #777;
    font-weight: 700;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
    color: #777;
    font-weight: 700;
    line-height: 1em;
    margin: 0 0 0.5625em 0;
}

h4.table {
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 0 !important;
}

h5.table {
    color: #888;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 0 !important;
}

    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
        border: 0;
        color: inherit;
        text-decoration: none;
    }

h2 {
    font-size: 2em;
    line-height: 1.5em;
}

h3 {
    font-size: 1.75em;
    line-height: 1.5em;
}

h4 {
    font-size: 1.25em;
    line-height: 1.5em;
}

h5 {
    font-size: 0.9em;
    line-height: 1.5em;
}

h6 {
    font-size: 0.7em;
    line-height: 1.5em;
}

code {
    background: rgb(77, 77, 77);
    border-radius: 5px;
    color: #fff;
    font-family: "Source Code Pro", monospace;
    font-size: 0.6em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
}

pre {
    font-family: "Source Code Pro", monospace;
    font-size: 0.9em;
}

    pre code {
        display: block;
        line-height: 1em;
        overflow-x: hidden;
        padding: 1em 1.5em;
    }

blockquote {
    border-left: solid 8px #e4e4e4;
    margin: 0 0 2.25em 0;
    padding: 0.5em 0 0.5em 2em;
}

/*Section Fonts*/

section.special, article.special {
    text-align: center;
}

header p {
    color: #aaa;
    position: relative;
    margin: 0 0 1.6875em 0;
}

header h2 + p {
    font-size: 1.25em;
    margin-top: -0.5em;
    line-height: 1.5em;
}

header h3 + p {
    font-size: 1.1em;
    margin-top: -0.35em;
    line-height: 1.5em;
}

header h4 + p,
header h5 + p,
header h6 + p {
    font-size: 0.9em;
    margin-top: -0.25em;
    line-height: 1.5em;
}

header.major h2 {
    color: #4F90CD;
    font-size: 3.5em;
    font-weight: 500;
}

    header.major h2 + p {
        color: #777;
        font-size: 1.75em;
        font-weight: 300;
        margin-top: -0.75em;
    }